In [2]:
import pandas as pd

In [3]:
#creating a data frame from a python list of lists
data = [
    ['Asabeneh', 'Finland', 'Helsink'], 
    ['David', 'UK', 'London'],
    ['John', 'Sweden', 'Stockholm']
]
df = pd.DataFrame(data, columns=['Names','Country','City'])
print(df)

      Names  Country       City
0  Asabeneh  Finland    Helsink
1     David       UK     London
2      John   Sweden  Stockholm

In [4]:
#using a dictionary
data = {'Name': ['Asabeneh', 'David', 'John'], 'Country':[
    'Finland', 'UK', 'Sweden'], 'City': ['Helsiki', 'London', 'Stockholm']}
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland    Helsiki
1     David       UK     London
2      John   Sweden  Stockholm

In [5]:
#from a list of dictionaries
data = [
    {'Name': 'Asabeneh', 'Country': 'Finland', 'City': 'Helsinki'},
    {'Name': 'David', 'Country': 'UK', 'City': 'London'},
    {'Name': 'John', 'Country': 'Sweden', 'City': 'Stockholm'}]
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [10]:
df = pd.read_csv('kklc.csv')
print(df.head())#print only the first 5 rows
print(df.tail())#print only the last 5 rows

   Entry # Character             Meanings          On                 Kun  \
0        1         日  SUN\n\nDAY\n\nJAPAN    ニチ\n\nジツ       ひ\n\n-び\n\n-か
1        2         一                  ONE    イチ\n\nイツ        ひと-\n\nひと(つ)
2        3         二                  TWO           ニ         ふた\n\nふた(つ)
3        4         三                THREE          サン  み\n\nみ(つ)\n\nみっ(つ)
4        5         十                  TEN  ジュウ\n\nジッ-             とお\n\nと

                                               Vocab Additional Senses  \
0  日々 ・ ひび ・ daily; days\n\n日にち ・ ひにち ・ date; num...               NaN
1  一日 ・ いちにち ・ one day\n\n一日 ・ ついたち ・ 1st of the ...               NaN
2  二日 ・ ふつか ・ two days; 2nd of the month \n\n二メート...               NaN
3  三つだけ ・ みっつだけ ・ just three\n\n三日 ・ みっか ・ three ...               NaN
4  二十 ・ にじゅう ・ twenty\n\n二十 ・ はたち ・ twenty years ...               NaN

   Personal Mnemonics or Notes
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
      Entry # Character     Meanings       On  Kun  \
2295     2296         巳  THE SERPENT        シ    み
2296     2297         蛇        SNAKE  ジャ\n\nダ   へび
2297     2298         繭       COCOON       ケン   まゆ
2298     2299         蝶    BUTTERFLY      チョウ  NaN
2299     2300         虹      RAINBOW      コウ*   にじ

                                                  Vocab Additional Senses  \
2295  巳年 ・ みどし ・ Year of the Serpent\n\n初巳 ・ はつみ ・ f...         sign of …
2296  蛇行する ・ だこうする ・ meander, zigzag\n\n蛇口 ・ じゃぐち ・ ...               NaN
2297  繭糸 ・ けんし ・ silk thread\n\n繭を掛ける ・ まゆをかける ・ spi...               NaN
2298  蝶 ・ ちょう ・ butterfly\n\n蝶蝶 ・ ちょうちょう ・ butterfly...               NaN
2299  虹色 ・ にじいろ ・ rainbow colors\n\n虹 ・ にじ ・ rainbow...               NaN

      Personal Mnemonics or Notes
2295                          NaN
2296                          NaN
2297                          NaN
2298                          NaN
2299                          NaN

In [11]:
print(df.shape)

(2300, 8)

In [12]:
print(df.columns)

Index(['Entry #', 'Character', 'Meanings', 'On', 'Kun', 'Vocab',
       'Additional Senses', 'Personal Mnemonics or Notes'],
      dtype='object')

In [14]:
#getting specific column using column key/name
entry_nums = df['Entry #'] # this is now a series
print(entry_nums)

0          1
1          2
2          3
3          4
4          5
        ...
2295    2296
2296    2297
2297    2298
2298    2299
2299    2300
Name: Entry #, Length: 2300, dtype: int64

In [15]:
print(entry_nums.describe()) # give statisical information about data
#obviously this doesnt give us useful information, just go with it for now, lol

count    2300.000000
mean     1150.500000
std       664.097131
min         1.000000
25%       575.750000
50%      1150.500000
75%      1725.250000
max      2300.000000
Name: Entry #, dtype: float64

In [16]:
print(df.info) #also gives information about dataset

<bound method DataFrame.info of       Entry # Character             Meanings          On                 Kun  \
0           1         日  SUN\n\nDAY\n\nJAPAN    ニチ\n\nジツ       ひ\n\n-び\n\n-か
1           2         一                  ONE    イチ\n\nイツ        ひと-\n\nひと(つ)
2           3         二                  TWO           ニ         ふた\n\nふた(つ)
3           4         三                THREE          サン  み\n\nみ(つ)\n\nみっ(つ)
4           5         十                  TEN  ジュウ\n\nジッ-             とお\n\nと
...       ...       ...                  ...         ...                 ...
2295     2296         巳          THE SERPENT           シ                   み
2296     2297         蛇                SNAKE     ジャ\n\nダ                  へび
2297     2298         繭               COCOON          ケン                  まゆ
2298     2299         蝶            BUTTERFLY         チョウ                 NaN
2299     2300         虹              RAINBOW         コウ*                  にじ

                                                  Vocab Additional Senses  \
0     日々 ・ ひび ・ daily; days\n\n日にち ・ ひにち ・ date; num...               NaN
1     一日 ・ いちにち ・ one day\n\n一日 ・ ついたち ・ 1st of the ...               NaN
2     二日 ・ ふつか ・ two days; 2nd of the month \n\n二メート...               NaN
3     三つだけ ・ みっつだけ ・ just three\n\n三日 ・ みっか ・ three ...               NaN
4     二十 ・ にじゅう ・ twenty\n\n二十 ・ はたち ・ twenty years ...               NaN
...                                                 ...               ...
2295  巳年 ・ みどし ・ Year of the Serpent\n\n初巳 ・ はつみ ・ f...         sign of …
2296  蛇行する ・ だこうする ・ meander, zigzag\n\n蛇口 ・ じゃぐち ・ ...               NaN
2297  繭糸 ・ けんし ・ silk thread\n\n繭を掛ける ・ まゆをかける ・ spi...               NaN
2298  蝶 ・ ちょう ・ butterfly\n\n蝶蝶 ・ ちょうちょう ・ butterfly...               NaN
2299  虹色 ・ にじいろ ・ rainbow colors\n\n虹 ・ にじ ・ rainbow...               NaN

      Personal Mnemonics or Notes
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
...                           ...
2295                          NaN
2296                          NaN
2297                          NaN
2298                          NaN
2299                          NaN

[2300 rows x 8 columns]>