In [8]:
'''
Pandas is an open source, high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Pandas adds data structures and tools designed to work with table-like data which is Series and Data Frames. Pandas provides tools for data manipulation:
    reshaping
    merging
    sorting
    slicing
    aggregation
    imputation. If you are using anaconda, you do not have install pandas.
'''

'\nPandas is an open source, high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Pandas adds data structures and tools designed to work with table-like data which is Series and Data Frames. Pandas provides tools for data manipulation:\n    reshaping\n    merging\n    sorting\n    slicing\n    aggregation\n    imputation. If you are using anaconda, you do not have install pandas.\n'

In [9]:
'''
Pandas data structure is based on Series and DataFrames.

A series is a column and a DataFrame is a multidimensional table 
made up of collection of series. In order to create a pandas series 
we should use numpy to create a one dimensional arrays or a python list.
'''

'\nPandas data structure is based on Series and DataFrames.\n\nA series is a column and a DataFrame is a multidimensional table \nmade up of collection of series. In order to create a pandas series \nwe should use numpy to create a one dimensional arrays or a python list.\n'

In [10]:
#importing pandas
import pandas as pd # importing pandas as pd
import numpy  as np # importing numpy as np

In [12]:
#pandas series with custom index
nums = [1, 2, 3, 4,5]
s = pd.Series(nums)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
#pandas series with custom index
nums = [1, 2, 3, 4, 5]

s = pd.Series(nums, index=[1, 2, 3, 4, 5])
print(s)
print('\n')
fruits = ['Orange','Banana','Mango']
fruits = pd.Series(fruits, index=[1, 2, 3])
print(fruits)

1    1
2    2
3    3
4    4
5    5
dtype: int64


1    Orange
2    Banana
3     Mango
dtype: object